<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WLHoney Albums</title>
    <link rel="stylesheet" type="text/css" th:href="@{/windmill/windmill.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/mobiscroll/css/mobiscroll.custom-3.0.0-beta6.min.css}"/>
</head>
<body>
<div class="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>

<!--<header>
    <div class="header-inner">
        <div class="logo" th:onclick=""
             th:style="'background-image: url('+@{'/files/sys-timebox.png'}+');background-size:cover;'">
        </div>
        <div class="logo" th:onclick=""
             th:style="'background-image: url('+@{'/files/sys-photo.png'}+');background-size:cover;'">
        </div>
        &lt;!&ndash;<nav class="header-navigation"
             th:style="'background-image: url('+@{'/files/sys-photo.png'}+');background-size:cover;cursor:pointer;'">
        </nav>&ndash;&gt;
    </div>
</header>-->
<div style="position: absolute; top: 50%;z-index: 999999; color: white;left: 10px;">
    <span th:text="${year}"></span>
</div>
<section class="slideshow">
    <ul class="navigation">
        <li th:each="obj,state : ${albums}" th:class="${state.index eq 0}?'navigation-item active':'navigation-item'">
            <span class="rotate-holder"></span>
            <span class="background-holder"
                  th:style="'background-image: url('+@{'/files/'+${obj.defaultPhoto.name}}+')'"></span>
        </li>
    </ul>

    <div class="detail">
        <div th:each="obj,state : ${albums}" th:class="${state.index eq 0}?'detail-item active':'detail-item'">
            <div class="headline" th:text="${obj.albumName}" th:onclick="'review('+${obj.id}+')'"></div>
            <div class="background" th:style="'background-image: url('+@{'/files/'+${obj.defaultPhoto.name}}+')'" th:onclick="'review('+${obj.id}+')'"></div>
        </div>
    </div>
    <div class="mbsc-material mbsc-segmented" style="position: absolute;bottom:0;z-index:9999;">
        <label class="mbsc-segmented-item" onclick="home()">
            <input type="radio" data-role="segmented" data-icon="fa-mail-reply" name="settings" class="mbsc-control mbsc-control-ev" data-touch="1">
            <span class="mbsc-segmented-content">
                <span class="mbsc-ic mbsc-ic-fa-mail-reply"></span>
            </span>
        </label>
        <label class="mbsc-segmented-item" onclick="upload()">
            <input type="radio" data-role="segmented" data-icon="fa-retweet" name="settings" class="mbsc-control mbsc-control-ev" data-touch="1">
            <span class="mbsc-segmented-content">
                <span class="mbsc-ic mbsc-ic-fa-retweet"></span>
            </span>
        </label>
        <label class="mbsc-segmented-item">
            <input id="datetimeDate-demo" type="radio" data-role="segmented" data-icon="cogs" name="settings" class="mbsc-control mbsc-control-ev" data-touch="1">
            <span class="mbsc-segmented-content" style="border-right:0;">
                <span class="mbsc-ic mbsc-ic-cogs"></span>
            </span>
        </label>
    </div>
</section>
<!-- slideshow END -->
<script type="text/javascript" th:src="@{/jQuery/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/windmill/imagesloaded.pkgd.min.js}"></script>
<script type="text/javascript" th:src="@{/gsap/TweenMax.min.js}"></script>
<script type="text/javascript" th:src="@{/gsap/CSSPlugin.min.js}"></script>
<script type="text/javascript" th:src="@{/gsap/TextPlugin.min.js}"></script>
<script type="text/javascript" th:src="@{/windmill/windmill.js}"></script>
<script type="text/javascript" th:src="@{/mobiscroll/js/mobiscroll.custom-3.0.0-beta6.js}"></script>
<script type="text/javascript" th:src="@{/wlhoney.js}"></script>
<a th:href="${#httpServletRequest.getContextPath()}" id="contextPath" style="display: none;"></a>
<script type="text/javascript">
    function review(albumId){
        let contextPath = $("#contextPath").attr("href");
        window.location.href = contextPath + "/" + albumId + "/photos";
    }
</script>
</body>
</html>