<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" style="height: calc(100%);">
<head>
    <meta charset="utf-8">
    <title>WlHoney Photos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/swiper/swiper.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/mobiscroll/css/mobiscroll.custom-3.0.0-beta6.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/swiper-description.css}"/>
</head>
<body>
<div th:style="'background-image: url('+@{'/files/'+${photos[0].name}}+')'" class="container">
    <input type="hidden" id="albumId" th:value="${albumId}"/>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="obj,state : ${photos}" th:style="'background-image: url('+@{'/files/'+${obj.name}}+')'">
                <div data-swiper-parallax="-200" data-swiper-parallax-opacity="0.5">
                    <input type="hidden" name="id" th:value="${obj.id}"/>
                    <textarea name="description" th:onblur="updateDescription(this)"
                              th:text="${obj.description}" rows="4" cols="" class="layui-textarea description"
                              placeholder="是时候留下美好的回忆了!最多不能超过50个字符哦！" maxlength="50"
                              οnchange="this.value=this.value.substring(0, 50)"
                              οnkeydοwn="this.value=this.value.substring(0, 50)"
                              οnkeyup="this.value=this.value.substring(0, 50)"></textarea>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="mbsc-material mbsc-segmented" style="position: absolute;bottom:0;z-index:9999;" th:include="footer :: footer"></div>
</div>
<a th:href="${#httpServletRequest.getContextPath()}" id="contextPath" style="display: none;"></a>
<script type="text/javascript" th:src="@{/jQuery/jquery-1.11.0.min.js}"></script>
<script type="text/javascript" th:src="@{/mobiscroll/js/mobiscroll.custom-3.0.0-beta6.js}"></script>
<script type="text/javascript" th:src="@{/swiper/swiper.min.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/wlhoney.js}"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
</body>
</html>
